#Titles{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    background-color: cadetblue;
    margin: 50px;
}

.Input{
    text-align: center;
    font-size: 30px;
    color: red;
}

.btn{
    text-align: center;

}

.btn1{
    color: brown;
    font-size: large;
    width: 70px;
    text-align: center;
}

.btn1:hover{
    background-color: brown;
    color: white;
}

.Img{
   text-align: center;
   
}
